<a href="https://colab.research.google.com/github/subhash505/datat_analytics/blob/main/Copy_of_Practice_set_EDA.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
import pandas as pd
df_pokemon=pd.read_csv('Pokemon.csv')

##1. Find the pokemon names for which Legendary=True

In [ ]:
df_legend=df_pokemon[df_pokemon['Legendary']==True]
df_legend

       #                 Name     Type1  ... Speed  Generation  Legendary
156  144             Articuno       Ice  ...    85           1       True
157  145               Zapdos  Electric  ...   100           1       True
158  146              Moltres      Fire  ...    90           1       True
162  150               Mewtwo   Psychic  ...   130           1       True
163  150  MewtwoMega Mewtwo X   Psychic  ...   130           1       True
..   ...                  ...       ...  ...   ...         ...        ...
795  719              Diancie      Rock  ...    50           6       True
796  719  DiancieMega Diancie      Rock  ...   110           6       True
797  720  HoopaHoopa Confined   Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound   Psychic  ...    80           6       True
799  721            Volcanion      Fire  ...    70           6       True

[65 rows x 13 columns]

##2. Get pokemon name from user input and then print details about the pokemon.

In [ ]:
name=input("Enter the pokemon name:")
df_pokemon[df_pokemon['Name']==name]

Enter the pokemon name:Charmeleon

   #        Name Type1 Type 2  ...  Sp. Def  Speed  Generation  Legendary
5  5  Charmeleon  Fire    NaN  ...       65     80           1      False

[1 rows x 13 columns]

##3. Find pokemon with maximum Total. And if tie then check Legendary=True if still its a tie check Generation=3

In [ ]:
max_total=df_pokemon[df_pokemon['Total']==max(df_pokemon['Total'])]

max_total[max_total['Generation']==3]

       #                   Name   Type1  ... Speed  Generation  Legendary
426  384  RayquazaMega Rayquaza  Dragon  ...   115           3       True

[1 rows x 13 columns]

##4. Pokemon details which has Generation=6

In [ ]:
df_pokemon[df_pokemon['Generation']==6]

       #                 Name    Type1  ... Speed  Generation  Legendary
718  650              Chespin    Grass  ...    38           6      False
719  651            Quilladin    Grass  ...    57           6      False
720  652           Chesnaught    Grass  ...    64           6      False
721  653             Fennekin     Fire  ...    60           6      False
722  654              Braixen     Fire  ...    73           6      False
..   ...                  ...      ...  ...   ...         ...        ...
795  719              Diancie     Rock  ...    50           6       True
796  719  DiancieMega Diancie     Rock  ...   110           6       True
797  720  HoopaHoopa Confined  Psychic  ...    70           6       True
798  720   HoopaHoopa Unbound  Psychic  ...    80           6       True
799  721            Volcanion     Fire  ...    70           6       True

[82 rows x 13 columns]